@*<div class="footer">
    <div class="footer-content">*@
        <div class="well">
            <div class="row text-center outer">
                <div class="col-sm-pull-12">
                    <h6><a href="#">首页</a> | <a href="#">关于我们</a> | <a href="#">联系我们</a></h6>
                </div>
                <div class="col-sm-pull-12">
                    <h6>2015 成功助理 - 版权所有</h6>
                </div>
                <div class="col-sm-pull-12">
                    <h6>技术支持：Rivern | 手机版 | 管理登录</h6>
                </div>
            </div>
        </div>
    @*</div>
</div>*@
