<!Doctype html>

<html lang="zh-cn" style="">

@RenderSection("head", true)

<body class="no-skin">
    @Html.Partial("_Headpartial")
    @Html.Partial("_Menupartial")
    @RenderSection("featured", true)
</body>

</html>
